
html, body {
   height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */


.overflow{
  position: fixed;
 z-index: -5;
}

.next{
  height: 50px;
  width: 50px;

}
.nextButton{
  position: fixed;
  top: 250px;
  left: 1200px;
}