
html, body {
   height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */


.overflow{
  position: fixed;
 z-index: -5;
}

.next{
  position: fixed;
  top: 50%;
  left: 75%;
  

}
